extends layout

block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js")
    div.container
        h1= title
        h2 Current Elections

        //Here dynamic list with elections
        .row
            ul.list-group
                each election, index in elections
                    il.list-group-item
                        - const link = "election/vote/" + election.id
                        - const get_votes = "election/votes/" + election.id
                        h5= election.doc.inputTitle
                        a.btn.btn-link(href=link) Go to Vote
                        button.btn.btn-outline-info(data-clipboard-text=link, data-clipboard-action="copy", name="dl_csv") Copy Link
                        a.btn.btn-outline-success(href=get_votes) Download CSV
                        h6 Votes: #{votes[index]}
                        //span(style='float: right')
                        //    button.btn.btn-danger Delete


        hr 
        .row
            p
                a.btn.btn-outline-secondary(href='/election/create', role='button') Create New Election


    script.
        
        window.onload = function() {
          var dl_btns = document.getElementsByName("dl_csv");
          for (i = 0; i < dl_btns.length; i++) {
              console.log(window.location.href);
              console.log(dl_btns[i].dataset.clipboardText);
              dl_btns[i].dataset.clipboardText = window.location.href + dl_btns[i].dataset.clipboardText;
          };
          
          new ClipboardJS('.btn');
        };
        
        $( document ).ready(function() {
          new ClipboardJS('.btn');
        });
