extends layout

block content
    h1= title
    h2= election_name

    form(method="post", action="/election/vote")
        h4 Personal Info

        .form-row
            .form-group.col-md-6
                label(for="inputName") Name
                input(type="text", class="form-control", name="inputName", id="inputName", placeholder="Name")
                
            .form-group.col-md-6
                label(for="inputOrientation") Sexual Orientation
                input(type="text", class="form-control", name="inputOrientation", id="inputOrientation", placeholder="Sexual Orientation")
        .form-row
            .form-group.col-md-6
                label(for="inputAge") Age
                input(type="text", class="form-control", name="inputAge", id="inputAge", placeholder="Age")
                
            .form-group.col-md-6
                label(for="inputOccupation") Occupation
                input(type="text", class="form-control", name="inputOccupation", id="inputOccupation", placeholder="Occupation")
        .form-row
            .form-group.col-md-6
                label(for="inputGender") Gender
                input(type="text", class="form-control", name="inputGender", id="inputGender", placeholder="Gender")
                
            .form-group.col-md-6
                label(for="inputPolitical") Political Orientation
                input(type="text", class="form-control", name="inputPolitical", id="inputPolitical", placeholder="Political Orientation")
        
        .form-group
            label(for="inputNationality") Nationality
            input(type="text", class="form-control", name="inputPolitical", id="inputNationality", placeholder="Nationality")


        h4 1 Person - 1 Vote
        each statement in statements
            .form-row
                .form-group.col-8
                    label= statement
                .form-check.form-check-inline
                    input.form-check-input(type="radio", name="1VoteOptions"+statement, id="inlineCheckbox1", value="option1")
                    label.form-check-label(for="inlineCheckbox1") Y
                .form-check.form-check-inline
                    input.form-check-input(type="radio", name="1VoteOptions"+statement, id="inlineCheckbox2", value="option2")
                    label.form-check-label(for="inlineCheckbox2") N
                
        h4 Quadratic Voting
        - var curr_tokens_txt = input_amount
        h5 Available Tokens: 
          span#curr_tokens #{curr_tokens_txt}
          span  / #{input_amount}
          
        .div
            .row
                .col-6
                    h6 Statement
                .col-1
                    h6 Tokens
                .col-1
                    h6 Votes
            
        each statement in statements
            .row
                .form-group.col-6
                    label= statement
                .form-group.col-1
                    input.quadratic-voter(type="number", name="QuadraticVote", class="form-control", placeholder="0")
                    
                .form-group.col-1.votes-out
                    span.btn.votes 0

        
        button(type="submit", class="btn btn-primary") Submit

    script.
        
        $(".quadratic-voter").on('input', function () {
          var curr = $(this).val();

          if(!(isNaN(curr))) {
              
              var previous_val = $(this).data('previous-val');
              if(previous_val === undefined) {previous_val = 0;};
              
              var curr_val = $(this).val();

              var diff = Math.abs(curr_val) - Math.abs(previous_val);
              var curr_tokens = $('#curr_tokens').text();
              var new_tokens = curr_tokens - diff;

              if(new_tokens <= #{input_amount} && new_tokens >= 0) {
                  $(this).data('previous-val', curr_val);
                  $('#curr_tokens').text(new_tokens);

                  var votes = Math.sqrt(Math.abs(curr_val)).toFixed(2) * Math.sign(curr_val);
                  $(this).parent().parent().children('.votes-out').children('span').text(votes);
              } else {
                  $(this).val(previous_val);
              }
          }
        });
	
